# Merge

In [1]:
import pandas as pd

Read in dataset from UFC website

In [3]:
ufc_scrape = pd.read_csv("ufc_website.csv") # read in ufc website scrapes

ufc_scrape.head(5)

,Name,k_wins,sb_wins,d_wins,hd_strk,lg_stk,bd_strk,st_land,st_attemp,tk_land,...,strksAb_perm,takedAv_per,subAvg_perm,strk_d,take_d,kd_rat,av_time,stand_stk,clinch_stk,grnd_stk
0,Andrei Arlovski,17.0,3.0,7.0,427,194,128,749,1790,7.0,...,3.00,0.56,0.31,59,79.0,0.62,08:41,571,137,41
1,Alistair Overeem,22.0,17.0,5.0,201,68,173,442,605,3.0,...,4.79,0.50,0.38,61,73.0,1.00,07:58,218,106,118
2,Cain Velasquez,12.0,0.0,2.0,542,100,77,719,1249,34.0,...,2.46,4.59,0.41,57,86.0,1.35,07:24,260,195,264
3,Fabricio Werdum,0.0,0.0,0.0,540,140,153,833,1491,12.0,...,4.42,1.02,0.34,57,32.0,0.34,11:00,636,96,101
4,Junior Dos Santos,15.0,1.0,5.0,666,39,359,1064,2198,5.0,...,3.07,0.34,0.07,59,80.0,0.94,11:45,897,94,73

Next the dataframe from Wikipedia was read in.

In [6]:
fighters = pd.read_csv("wiki_scrape.csv")
fighters.tail(10)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,UFC Wins,UFC Losses
577,Emily Whitmire,27,64.9605,Spitfire,2 1,4 2,"Women""s Strawweight",11,4,2,2,1
578,Polyana Viana,26,66.9290,Dama de Ferro,1 2,10 3,"Women""s Strawweight",11,10,3,1,2
579,Maia Stevenson,37,64.1731,NaN,0 1,6 5,"Women""s Strawweight",11,6,5,0,1
580,Mackenzie Dern,26,62.9920,NaN,2 0,7 0,"Women""s Strawweight",11,7,0,2,0
581,Weili Zhang,29,62.9920,NaN,3 0,19 1,"Women""s Strawweight",11,19,1,3,0
582,Livia Renata Souza,28,64.1731,Livinha,2 0,13 1,"Women""s Strawweight",11,13,1,2,0
583,Marina Rodriguez,32,66.9290,NaN,1 0 1,11 0 1,"Women""s Strawweight",11,11,0,1,0 1
584,Hannah Cifers,26,61.0235,Shockwave,1 1,9 3,"Women""s Strawweight",11,9,3,1,1
585,Sarah Frota,32,66.1416,A Treta,0 1,9 1,"Women""s Strawweight",11,9,1,0,1
586,Virna Jandiroba,30,62.9920,CarcarÃ¡,0 1,14 1,"Women""s Strawweight",11,14,1,0,1

In [7]:
fighters['Name'] = fighters['Name'].str.normalize('NFKD').str.encode('ascii', errors='ignore').str.decode('utf-8')
fighters.head(5)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,UFC Wins,UFC Losses
0,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,16,12
1,Alistair Overeem,38,77.1652,The Reem,11 6,45 17 (1 NC),Heavyweight,0,45,17,11,6
2,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,12,3
3,Fabricio Werdum,41,75.9841,Vai Cavalo,11 6,23 8 1,Heavyweight,0,23,8,11,6
4,Junior dos Santos,35,75.9841,Cigano,15 4,21 5,Heavyweight,0,21,5,15,4

The dataframes from the wikipedia page and the UFC website were merged.

In [8]:
complete_wiki_plus_ufc =  (pd.merge(fighters, ufc_scrape, on='Name', how = 'left'))
complete_wiki_plus_ufc = complete_wiki_plus_ufc.dropna(thresh = 13)
complete_wiki_plus_ufc.head(5)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,...,strksAb_perm,takedAv_per,subAvg_perm,strk_d,take_d,kd_rat,av_time,stand_stk,clinch_stk,grnd_stk
0,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,3.00,0.56,0.31,59.0,79.0,0.62,08:41,571.0,137.0,41.0
1,Alistair Overeem,38,77.1652,The Reem,11 6,45 17 (1 NC),Heavyweight,0,45,17,...,4.79,0.50,0.38,61.0,73.0,1.00,07:58,218.0,106.0,118.0
2,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,2.46,4.59,0.41,57.0,86.0,1.35,07:24,260.0,195.0,264.0
3,Fabricio Werdum,41,75.9841,Vai Cavalo,11 6,23 8 1,Heavyweight,0,23,8,...,4.42,1.02,0.34,57.0,32.0,0.34,11:00,636.0,96.0,101.0
5,Todd Duffee,33,75.9841,Irish Car Bomb,3 2,9 3,Heavyweight,0,9,3,...,2.66,0.00,0.00,60.0,90.0,2.72,03:18,75.0,12.0,5.0

We found a csv with the rankings for each weightclass.

In [9]:
rank = pd.read_csv("rankings.csv")
rank['Rank'] = pd.to_numeric(rank['Rank'], downcast='integer')
rank.head(5)

                   Name  Rank
0          Henry Cejudo   0.0
1       Jussier Formiga   1.0
2      Joseph Benavidez   2.0
3  Deiveson FigueiredoÂ    3.0
4           Wilson Reis   4.0

The rankings datset was merged with the datset above. We merged it on name and to the left as not all the fighters are ranked and in the rankings csv

In [10]:
main_with_ranks =  (pd.merge(complete_wiki_plus_ufc, rank, on='Name', how = 'left')) 
main_with_ranks.head(5)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,...,takedAv_per,subAvg_perm,strk_d,take_d,kd_rat,av_time,stand_stk,clinch_stk,grnd_stk,Rank
0,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,0.56,0.31,59.0,79.0,0.62,08:41,571.0,137.0,41.0,15.0
1,Alistair Overeem,38,77.1652,The Reem,11 6,45 17 (1 NC),Heavyweight,0,45,17,...,0.50,0.38,61.0,73.0,1.00,07:58,218.0,106.0,118.0,7.0
2,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,4.59,0.41,57.0,86.0,1.35,07:24,260.0,195.0,264.0,8.0
3,Fabricio Werdum,41,75.9841,Vai Cavalo,11 6,23 8 1,Heavyweight,0,23,8,...,1.02,0.34,57.0,32.0,0.34,11:00,636.0,96.0,101.0,NaN
4,Todd Duffee,33,75.9841,Irish Car Bomb,3 2,9 3,Heavyweight,0,9,3,...,0.00,0.00,60.0,90.0,2.72,03:18,75.0,12.0,5.0,NaN

The ex_champ data (from the second wikipedia scrape), was read in

In [11]:
ex_champ = pd.read_csv("ex_champ.csv")

The ex_champ dataset was merged with the main dataset

In [12]:
main_with_ex_champs =  (pd.merge(main_with_ranks, ex_champ, on='Name', how = 'left'))
main_with_ex_champs.head(5)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,...,take_d,kd_rat,av_time,stand_stk,clinch_stk,grnd_stk,Rank,Reign(total),Defenses,ex_champ
0,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,79.0,0.62,08:41,571.0,137.0,41.0,15.0,0,1.0,True
1,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,79.0,0.62,08:41,571.0,137.0,41.0,15.0,246,1.0,True
2,Alistair Overeem,38,77.1652,The Reem,11 6,45 17 (1 NC),Heavyweight,0,45,17,...,73.0,1.00,07:58,218.0,106.0,118.0,7.0,NaN,NaN,NaN
3,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,86.0,1.35,07:24,260.0,195.0,264.0,8.0,385,0.0,True
4,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,86.0,1.35,07:24,260.0,195.0,264.0,8.0,896,1.0,True

The merged dataframe was exported as a csv file

Fill Nan values with false

In [15]:
main_with_ex_champs['ex_champ'] = main_with_ex_champs['ex_champ'].fillna(False)

In [16]:
main_with_ex_champs.to_csv('merged.csv',index = False)