# Cleaning Records

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

import numpy as np
import html5lib

import requests 
from bs4 import BeautifulSoup
import urllib
import time

Read in the fully merged csv

In [2]:
main = pd.read_csv("merged.csv")

In [3]:
main.head(5)

,Name,Age,Ht.,Nickname,Endeavor record,MMA record,Weight Class,Weight Class Index,Overall Wins,Overall Losses,...,take_d,kd_rat,av_time,stand_stk,clinch_stk,grnd_stk,Rank,Reign(total),Defenses,ex_champ
0,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,79.0,0.62,08:41,571.0,137.0,41.0,15.0,0,1.0,True
1,Andrei Arlovski,40,75.1967,The Pit Bull,16 12 (1 NC),27 18 (2 NC),Heavyweight,0,27,18,...,79.0,0.62,08:41,571.0,137.0,41.0,15.0,246,1.0,True
2,Alistair Overeem,38,77.1652,The Reem,11 6,45 17 (1 NC),Heavyweight,0,45,17,...,73.0,1.00,07:58,218.0,106.0,118.0,7.0,NaN,NaN,False
3,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,86.0,1.35,07:24,260.0,195.0,264.0,8.0,385,0.0,True
4,Cain Velasquez,36,72.8345,NaN,12 3,14 3,Heavyweight,0,14,3,...,86.0,1.35,07:24,260.0,195.0,264.0,8.0,896,1.0,True

In [4]:
main.shape

(537, 37)

A function was created that splits the string into the first character and the rest. If the first character is a digit, it is returned. If not, it is dropped.

In [5]:
def convert_ufc_losses(x):
    
    first_part = str(x).split()[0]
    
    if first_part.isdigit():
        return int(first_part)
    else:
        return np.nan

This function is applied to all the relevant columns

In [6]:
main['Overall Losses'] = main['Overall Losses'].apply(convert_ufc_losses)

In [7]:
main['Overall Wins'] = main['Overall Wins'].apply(convert_ufc_losses)

In [8]:
main['UFC Losses'] = main['UFC Losses'].apply(convert_ufc_losses)

In [9]:
main['UFC Wins'] = main['UFC Wins'].apply(convert_ufc_losses)

In [10]:
main.shape

(537, 37)

Total UFC Fights and Total Overall fights were calculated

In [11]:
main['Total UFC Fights'] = main['UFC Losses'] + main['UFC Wins']
main['Total Overall Fights'] = main['Overall Wins'] + main['Overall Losses']

In [12]:
main.shape

(537, 39)

The final csv was exported, ready for anaylsis

In [13]:
 main.to_csv('final.csv',index = False)